*{
    margin: 0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    

}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 
}

input{
    text-align: center;
    height: 40px;
    width:300px;
    margin: 10px;
    border-color: coral;
    color: rgb(192, 98, 64);
    border-width: 5px;
    border-radius: 10px;

}

input::placeholder{
    color: rgb(255, 154, 108);
}

button{
    height: 50px;
    width: 250px;
    size: 100px;
    font-size: 20px;
    font-weight: 200px;
    border-radius: 10px;
    border-color: coral;
    color: rgb(255, 255, 255);
    background-color: rgb(212, 108, 71);
}

h1{
    background-color: rgb(209, 109, 73);
    border-radius: 10PX;
    margin-top: 5%;
    border-color: coral;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
}

section{
    
    width: 60%;
    height:500PX ;
   
    display: flex;
  justify-content: center;
  align-items: center;
}

